[Unit]
Description=template_projet backend (native gunicorn)
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/template_projet/backend
Environment="DJANGO_SETTINGS_MODULE=app.settings"
EnvironmentFile=/opt/template_projet/backend/.env
ExecStart=/usr/bin/env bash -lc 'PYTHONPATH=src gunicorn app.wsgi:application --bind 0.0.0.0:8000 --workers 3'
Restart=on-failure

[Install]
WantedBy=multi-user.target
