---
extends: default

ignore: |
  .github/workflows/*
  infra/podman/*
  infra/podman/**/*
  core/openapi/generated/*

rules:
  document-start: enable     # exige '---' (bonne pratique)
  line-length: disable       # compose/OpenAPI -> lignes longues acceptées
  braces: disable            # tolère { key: value } inline
  truthy: disable            # évite les faux positifs sur 'on', 'yes', etc.
  empty-lines:
    max: 2
